:root {
    --color-bg: #1f2937;
    --color-fg: #fff;
    --color-primary: #1890ff;
    --color-secondary: #a0aec0;
    --color-dark-green: #006400;
    --color-dark-cyan: #008b8b;
    --color-mint: #98fb98;
    --color-celadon: #ace1af;
    --color-aquamarine: #7fffd4;
  }
  